/*body {
	background-color: #999;
}
.body {
	background-color: #f2efe5;
}*/

header {
	background-color: lightblue;
}
nav.navbar {
	margin: 0;
	border-radius: 0;
}
nav > ul {
	list-style: none;

}
nav > ul > li {
	/*float: left;*/
	width: 10%;
}

nav > ul > li > ul {
	display: none;
	list-style: none;
}
nav > ul > li:hover > ul {
	display: block;
}

#items > li {
	padding: 4%;
	position: relative;
	cursor: pointer;
}
#items > li:hover {
	background-color: #eee;
}
#items > li > img {
	width: 25%;
}
#items > li > span {
	position: absolute;
	top: 20%;
	right: 8%;
}
#myCarousel {
	width: 100%;
	margin-bottom: 80px;
	max-height: 50%;
	overflow: hidden;
}

div.carousel-inner > div.item > img {
	/*width: 100%;*/
	margin: auto;
	height: 100%;
}
div.carousel-caption > p {
	margin: 5px auto;
    white-space: nowrap; 
    width: 15em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.hot > h2 {
	margin: 25px 0 5px 10px;
}
/*
footer.container {
	padding: 0;
	padding-bottom: 90px;
	margin-top: -1px; 
}
footer  > div.rip {
	background-image: url("../content/paperRipSat.png");
	background-size: 50%;
	height: 108px;
	background-repeat: repeat-x;

}*/